:root {
  --c-primary: #0e4958;
  --c-secondary: #6e0d25;
  --c-tertiary: #ff5376;
  --c-background: #efe9f4;
  --c-text: #171d1c;
  --border-radius: 0.5rem;
  --switcher-val: 45rem;
}

*:focus-visible {
  outline: 0.2rem solid var(--c-tertiary);
  outline-offset: 0.3rem;
}

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--switcher-val) - 100%) * 999);
}

.switcher > :nth-last-child(n + 3),
.switcher > :nth-last-child(n + 3) ~ * {
  flex-basis: 100%;
}

body {
  background-color: var(--c-background);
  color: var(--c-text);
  font-size: 1.3rem;
  font-family: Verdana, sans-serif;
  line-height: 1.5;
}

a {
  color: var(--c-primary);
  position: relative;
  transition: border ease-in 1s;
  text-decoration: none;
  border-bottom: 0.15rem solid var(--c-primary);
}

a[aria-current] {
  font-weight: bold;
}

a:hover,
a:focus {
  border-bottom: 0;
}

a::before {
  transform: scale(0, 0);
  transform-origin: bottom right;
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: var(--c-tertiary);
  z-index: -1;
  transition: transform 0.75s ease;
}

a:hover::before,
a:focus::before {
  transform: scale(1, 0.25);
  transform-origin: bottom left;
}

button {
  border: 0.15rem solid var(--c-background);
  color: var(--c-background);
  background-color: var(--c-primary);
  font-size: 1.3rem;
  padding: 1rem;
  border-radius: var(--border-radius);
  width: 60%;
  margin-top: 0.5rem;
}

button:active {
  border: 0.15rem solid var(--c-primary);
  color: var(--c-primary);
  background-color: var(--c-background);
}

form[name^='contact'] {
  display: flex;
  flex-direction: column;
}

form[name^='contact'] > button {
  max-width: 30rem;
  width: calc(100% - 2rem);
  margin-bottom: 2rem;
}

button:hover:not(:active) {
  background-color: var(--c-secondary);
}

input,
textarea {
  border: 0.15rem solid var(--c-primary);
  background-color: var(--c-background);
  padding: 0.5rem;
  border-radius: var(--border-radius);
  font-size: 1.2rem;
  max-width: 30rem;
  width: calc(100% - 2rem);
  margin-top: 0.5rem;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

select {
  padding: 0.5rem;
  background-color: var(--c-background);
  color: var(--c-text);
  font-size: 1.3rem;
  margin-top: 0.5rem;
  border: 0.15rem solid var(--c-text);
  border-radius: var(--border-radius);
}

p {
  max-width: 60ch;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-flow: row wrap;
  gap: 1rem;
}

header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  justify-content: center;
}

header li {
  margin: 1rem;
}

header li:first-child {
  margin-left: 0;
}

footer {
  padding: 2rem 0.5rem;
  box-sizing: content-box;
  margin-inline: auto;
  text-align: center;
  max-inline-size: calc(100% - 2rem);
  border-top: 0.15rem dashed var(--c-primary);
  margin-top: 4rem;
}

.buy-me-a-coffee {
  margin-top: 1rem;
}

.shirt {
  width: 40rem;
  max-width: calc(100% - 2rem);
  height: auto;
}

.color-picker-wrapper {
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.colors-form {
  display: flex;
  flex-direction: column;
}

.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: 60rem;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.color-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1.5rem 1rem;
  padding: 0;
}

.color-list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.color-swatch {
  border: 0.15rem solid var(--c-text);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: var(--border-radius);
  margin-right: 0.5rem;
}
