---
layout: layouts/base.njk
title: 'About the site - '
tags: 'sitemap'
language: 'en'
---

<h1>About the site</h1>

<h2>Background</h2>

<p>
  I was knitting a <a href="https://lopidesign.is/en/shop/adults/sweaters/riddari/">Riddari-sweater</a> for someone as a
  present, and I needed to get the information about the yarn colors for the sweater. It can be really hard to imagine,
  what the finished sweater would look like, if you've never knitted one (and even if you have, it still is), so I
  needed some way to visualise the possible color choices.
</p>

<p>
  The colors on the selects are from Istex' site - the colors they have for Léttlopi-yarn. You can find the codes of
  each color from the select-fields as well. Also, the colors you can see in the picture are only examples, I tried to
  get them close to the actual colors. However, I will not take any responsibility of the finished garment 😄
</p>

<h2>Neule.art-app</h2>

<p>
  Neule.art mobile application expands this site, enabling color selection for knitting patterns on a mobile phone. The
  app's first version includes a color selection interface and a way to share these colors with a link. I'm developing
  the app and adding new features. If you have ideas, please contact me! Let's then see if I could add them to the app.
</p>

<p>
  The application is currently available only for Android. The reason is that publishing iOS applications is expensive -
  I don't get any money from the site or the apps, and, unfortunately, I'm not ready to pay a hundred dollars a year for
  distributing one application.
</p>

<p>
  If, however, you're interested in getting the iOS application, send me a message, and we can discuss if there are some
  options available.
</p>

<h2>Contact me</h2>

<p>
  You can contact me via email (<a href="mailto:hello@eevis.codes">hello[a]eevis.codes</a>) if you want to give any
  feedback, or notice something funny happening on the site.
</p>

<p>
  Another option is to file a bug report in
  <a
    href="https://github.com/eevajonnapanula/neule.art/issues/new?assignees=&labels=&template=bug_report.md&title=%5BBUG%5D+"
    >Github</a
  >.
</p>

<p>
  You can also find Neule.art from
  <a href="https://instagram.com/neuleart">Instagram</a>.
</p>

<h2>Contributors</h2>

<p>These people have contributed to Neule.art:</p>
<ul>
  <li>Creator of the site: <a href="https://eevis.codes">Eevis</a></li>
  <li>Norwegian translations: Team @ <a href="https://denlykkeligesau.no/">Den Lykkelige Sau</a></li>
</ul>

<h2>Changelog</h2>
<a href="/en/feed.xml">RSS</a>

{%- for update in updates.en %} {% update update %} {% endfor -%}
