---
layout: layouts/base.njk
title: 'About the site - '
tags: 'sitemap'
---

<h1>About the site</h1>

<h2>Background</h2>

<p>
  I was knitting a <a href="https://lopidesign.is/en/shop/adults/sweaters/riddari/">Riddari-sweater</a> for someone as a
  present, and I needed to get the information about the yarn colors for the sweater. It can be really hard to imagine,
  what the finished sweater would look like, if you've never knitted one (and even if you have, it still is), so I
  needed some way to visualise the possible color choices.
</p>

<p>
  The colors on the selects are from Istex' site - the colors they have for Léttlopi-yarn. You can find the codes of
  each color from the select-fields as well. Also, the colors you can see in the picture are only examples, I tried to
  get them close to the actual colors. However, I will not take any responsibility of the finished garment 😄
</p>

<h2>Contact me</h2>

<p>
  You can contact me via email (<a href="mailto:hello@eevis.codes">hello[a]eevis.codes</a>) if you want to give any
  feedback, or notice something funny happening on the site.
</p>

<p>
  Another option is to file a bug report in
  <a
    href="https://github.com/eevajonnapanula/neule.art/issues/new?assignees=&labels=&template=bug_report.md&title=%5BBUG%5D+"
    >Github</a
  >.
</p>

<h2>Changelog</h2>

<h3><time datetime="2022-06-08">8.6.2022</time> - Remove contact form</h3>

<ul>
  <li>Removed the contact form, as it was causing more problems compared to it's usefulness.</li>
  <li>Fixed a bug with routing.</li>
</ul>

<h3><time datetime="2022-05-28">28.5.2022</time> - Show all yarn color amounts in one page</h3>

<ul>
  <li>Added a link to the front page to display the amount of all colors in selected stores</li>
  <li>Again, if you have a store in mind, which should be included, send me a message.</li>
</ul>

<h3><time datetime="2022-05-24">24.5.2022</time> - Show yarn color amounts in different stores</h3>

<ul>
  <li>Added a link to the front page to display the amount of selected colors in selected shops</li>
  <li>If you have a store in mind, which should be included, send me a message.</li>
</ul>

<h3><time datetime="2022-05-16">16.5.2022</time> - Sort colors alphabetically</h3>

<ul>
  <li>Colors are now sorted alphabetically</li>
</ul>

<h3><time datetime="2022-05-14">14.5.2022</time> - Contact form and other improvements</h3>

<ul>
  <li>A contact form has been added.</li>
  <li>Added a link to generate random colors</li>
  <li>Some smaller and nonvisible improvements, such as adding sitemap.</li>
</ul>

<h3><time datetime="2022-05-13">13.5.2022</time> - List of colors and other improvements</h3>
<ul>
  <li>
    A list of colors has been added under the color picker. Now you don't have to guess the colors based on the yarn
    color names.
  </li>
  <li>Also some misc improvements to styles etc.</li>
</ul>

<h3><time datetime="2022-05-12">12.5.2022</time> - The site is online 🎉</h3>
<ul>
  <li>The site is online!</li>
</ul>
