---
layout: layouts/base.njk
title: 'About the site'
---

<h1>About the site</h1>

<h2>Background</h2>

<p>
  I was knitting a <a href="https://lopidesign.is/en/shop/adults/sweaters/riddari/">Riddari-sweater</a> for someone as a
  present, and I needed to get the information about the yarn colors for the sweater. It can be really hard to imagine,
  what the finished sweater would look like, if you've never knitted one (and even if you have, it still is), so I
  needed some way to visualise the possible color choices.
</p>

<p>
  The colors on the selects are from Istex' site - the colors they have for Léttlopi-yarn. You can find the codes of
  each color from the select-fields as well. Also, the colors you can see in the picture are only examples, I tried to
  get them close to the actual colors. However, I will not take any responsibility of the finished garment 😄
</p>

<h2>Contact me</h2>

<p>
  You can contact me via email (<a href="mailto:hello@eevis.codes">hello[a]eevis.codes</a>) if you want to give any
  feedback, or notice something funny happening on the site. You can also reach me through the contact form in this
  section.
</p>

<p>
  Another option is to file a bug report in
  <a
    href="https://github.com/eevajonnapanula/neule.art/issues/new?assignees=&labels=&template=bug_report.md&title=%5BBUG%5D+"
    >Github</a
  >.
</p>

{% include "partials/contactForm.njk" %}

<h2>Changelog</h2>

<h3><time datetime="2022-05-14">14.5.2022</time> - Contact form and other improvements</h3>

<ul>
  <li>A contact form has been added.</li>
  <li>Some smaller and nonvisible improvements, such as adding sitemap.</li>
</ul>

<h3><time datetime="2022-05-13">13.5.2022</time> - List of colors and other improvements</h3>
<ul>
  <li>
    A list of colors has been added under the color picker. Now you don't have to guess the colors based on the yarn
    color names.
  </li>
  <li>Also some misc improvements to styles etc.</li>
</ul>

<h3><time datetime="2022-05-12">12.5.2022</time> - The site is online 🎉</h3>
<ul>
  <li>The site is online!</li>
</ul>
