---
layout: layouts/base.njk
changeFreq: daily
permalink:
  build: '/en/'
  colors: '/en/colors/'
---

{% set metaTitle = metadata[locale].metaTitle %} {% set metaDescription = metadata[locale].metaDescription %} {% set
metaImage = metadata[locale].metaImage %}

<section>
  <h1>Pick your colors for Riddari</h1>

  <div class="color-picker-wrapper switcher">
    <div>
      {% if eleventy.serverless.query %} {% shirtWithObject eleventy.serverless.query %} {% else %} {% shirt '000000',
      '037C79', 'DC7633', 'AED6F1' %} {% endif %} {% visuallyHiddenText translations[locale].visuallyHiddenText,
      eleventy.serverless.query %}
    </div>
    <div>
      <form method="get" action="/en/colors/" class="colors-form">
        {% colorSelect "a", "main-color", "A (Main color)", eleventy.serverless.query.a, '000000' %} {% colorSelect "b",
        "secondary-color", "B", eleventy.serverless.query.b, '037C79' %} {% colorSelect "c", "highlight1-color", "C",
        eleventy.serverless.query.c, 'DC7633' %} {% colorSelect "d", "highlight2-color", "D",
        eleventy.serverless.query.d, 'AED6F1' %}

        <button type="submit">Check the result</button>
      </form>
      {% randomColorsLink locale %}
    </div>
  </div>

  {% include "partials/colors.njk" %}
  <h2>Links</h2>
  <ul>
    <li><a href="https://istex.is/en/vorur/lettlopi/">Léttlopi color chart</a></li>
    <li><a href="https://lopidesign.is/en/shop/adults/sweaters/riddari/">Riddari's knitting pattern</a></li>
  </ul>
</section>
