---
layout: layouts/base.njk
siteTitle: 'Riddari Color Picker'
permalink:
  build: '/en/'
  colors: '/en/colors/'
---

{% set metaTitle = metadata[locale].metaTitle %} {% set metaDescription = metadata[locale].metaDescription %} {% set
metaImage = metadata[locale].metaImage %}

<section>
  <h2>Pick your colors</h2>
  <p>
    Colors are only examples, and do not represent the actual colors in the color chart. It's also possible that
    screen's color settings change how the colors are displayed.
  </p>
  <a href="https://istex.is/en/vorur/lettlopi/">Link to Léttlopi's color chart.</a>
  <div class="color-picker-wrapper switcher">
    <div>
      {% if eleventy.serverless.query %} {% shirtWithObject eleventy.serverless.query %} {% else %} {% shirt '000000',
      '037C79', 'DC7633', 'AED6F1' %} {% endif %}
    </div>
    <div>
      <form method="get" action="/en/colors/" class="colors-form">
        {% colorSelect "main", "main-color", "Main", eleventy.serverless.query.main, '000000' %} {% colorSelect
        "secondary", "secondary-color", "Secondary", eleventy.serverless.query.secondary, '037C79' %} {% colorSelect
        "highlight1", "highlight1-color", "Highlight 1", eleventy.serverless.query.highlight1, 'DC7633' %} {%
        colorSelect "highlight2", "highlight2-color", "Highlight 2", eleventy.serverless.query.highlight2, 'AED6F1' %}

        <button type="submit">Generate</button>
      </form>
    </div>
  </div>
</section>
