---
layout: layouts/base.njk
tags: 'sitemap'
permalink:
  build: '/en/privacy-policy/'
---

<h1>Privacy Policy of the Neule.art Application</h1>

<h2>Contact Information</h2>
<p>Eeva-Jonna Panula</p>
<p>hello[at]eevis.codes</p>

<h2>Purpose and Scope of Data Processing</h2>

The application stores the user's operating system version and log data about the technical operation of the application
to improve its functionality. The data is collected programmatically from the application.

<h2>Data Handling and Protection</h2>

The data is stored in Google's cloud service, to which only the application developer (the data controller) has access.
The data is secured with two-factor authentication.

<h2>Data Transfer Outside the EU or EEA</h2>

Crash logs and diagnostic data collected by Firebase Crashlytics may be stored on servers located in the United States.
This data is processed by Google LLC, which complies with GDPR requirements through the use of Standard Contractual
Clauses (SCCs) and other appropriate safeguards to protect data. For further details, please refer to Google's
<a href="https://firebase.google.com/support/privacy">Firebase Privacy and Security Inform</a>

<h2>Data Retention Period</h2>
Data is retained as long as necessary for the purpose for which it was collected, but no longer than two years.

<h2>Questions</h2>
If you wish, you can contact the application developer: hello[at]eevis.codes
