---
permalink: '/robots.txt'
eleventyExcludeFromCollections: true
---

User-agent: *
Disallow: /fi/patterns/riddari/colors/

User-agent: *
Disallow: /en/patterns/riddari/colors/

User-agent: *
Disallow: /fi/patterns/riddari-multiple/colors/

User-agent: *
Disallow: /en/patterns/riddari-multiple/colors/

User-agent: * 
Disallow /stock.json

User-agent: * 
Disallow /stock-changes.json

User-agent: * 
Allow: / 


Sitemap: {{ metadata.url }}/sitemap.xml
