---
layout: layouts/base.njk
changeFreq: daily
title: 'Color Picker for Riddari - '
language: 'en'
permalink:
  build: '/en/patterns/riddari/'
  colors: '/en/patterns/riddari/colors/'
breadcrumbs:
  - title: 'Home'
    url: '/en/'
  - title: 'Riddari (simple, four colors)'
    url: '/en/patterns/riddari/'
    serverless: true
    current: true
---

{% set metaTitle = metadata[locale].metaTitle %} {% set metaDescription = metadata[locale].metaDescription %} {% set
metaImage = metadata[locale].metaImage %} {% breadcrumbs breadcrumbs, locale, eleventy.serverless.query %}
<section>
  <h1>Pick your colors for Riddari</h1>

  <div class="color-picker-wrapper switcher">
    <div>
      {% if eleventy.serverless.query %} {% set colorA = eleventy.serverless.query.a %} {% set colorB =
      eleventy.serverless.query.b %} {% set colorC = eleventy.serverless.query.c %} {% set colorD =
      eleventy.serverless.query.d %} {% else %} {% set colorA = '000000' %} {% set colorB = '037C79' %} {% set colorC =
      'DC7633' %} {% set colorD = 'AED6F1' %} {% endif %} {% riddari colorA, colorB, colorC, colorD %} {%
      visuallyHiddenText translations[locale].visuallyHiddenText, eleventy.serverless.query, locale %}
    </div>
    <div>
      <div class="cta-link">
        <a
          href="/en/yarns/lettlopi/"
          >All colors
        </a>
      </div>
      <form method="get" action="/en/patterns/riddari/colors/" class="colors-form">
        {%- for color in colorOptions.fourColors %} {% colorSelect color.labelKey, color.identifier,
        translations[locale].fourColorTexts[color.labelKey], eleventy.serverless.query[color.queryKey],
        color.defaultColor %} {% endfor -%}

        <button type="submit">Check the result</button>
      </form>
      {% randomColorsLink locale %}
    </div>
  </div>
  </section>
  <section>
    <h2>Color Availability</h2>
    
  
    <div class="color-picker-wrapper switcher">
    {% colorAvailability locale, colorA, colorB, colorC, colorD %}</div>

    <div>
  
      <div>Data fetched: {% time stock.updated %}</div></div>
  
      <div>{% set comma = joiner() %}
        <p>Stores, that the data is currently fetched from: {% for store in yarnStores.stores -%}{{comma()}} {{yarnStores[store].name}} {%- endfor %}</p>
        <p>If you have a store, that should be here, in mind, send me a message. You can find the contact information from <a href="/en/about/">About-page.</a></p>
      </section>
  <section>
  <h2>Links</h2>
  <ul>
    <li><a href="https://istex.is/en/vorur/lettlopi/">Léttlopi color chart</a></li>
    <li><a href="https://lopidesign.is/en/shop/adults/sweaters/riddari/">Riddari's knitting pattern</a></li>
  </ul>
</section>

