---
layout: layouts/base.njk
title: 'Om siden - '
tags: 'sitemap'
language: 'no'
---

<h1>Om siden</h1>

<h2>Bakgrunn</h2>

<p>
  Jeg skulle strikke <a href="https://lopidesign.is/en/shop/adults/sweaters/riddari/">en Riddari-genser</a> i gave og
  ønsket inspirasjon og informasjon om farger og fargevalg. Det kan være vanskelig å se for seg hvordan genseren blir
  ferdig, spesielt hvis man ikke har strikket den før (og til og med om man har!). Derfor trengte jeg en måte å
  visualisere de ulike fargekombinasjonene på.
</p>

<p>
  Fargene i fargevelgeren er hentet fra garnet Léttlopi fra Ístex. Du finner fargekodene til hver farge i fargevelgeren.
  Bildene viser kun eksempler – jeg har forsøkt å gjengi fargene så nøyaktig som mulig, men kan ikke ta ansvar for
  hvordan genseren blir til slutt 😄
</p>

<h2>Neule.art-appen</h2>

<p>
  Neule.art mobilappen utvider nettsiden og gjør det mulig å bruke fargevelgeren direkte på mobiltelefoner. Den første
  versjonen inneholder et enkelt grensesnitt for fargevalg og en funksjon for å dele fargekombinasjonene via lenker.
</p>

<p>
  Jeg utvikler appen selv og jobber stadig med å legge til nye funksjoner. Har du forslag eller ideer, er du hjertelig
  velkommen til å kontakte meg – kanskje jeg kan legge dem til! Appen er tilgjengelig på engelsk og finsk.
</p>

<p>
  Appen er foreløpig kun tilgjengelig for Android. Dette skyldes at det er dyrt å publisere apper i App Store. Jeg får
  ikke betalt for arbeidet mitt med denne siden eller appen, og ønsker ikke å betale flere hundre dollar i året for å
  drifte en iOS-app.
</p>

<p>Er du likevel interessert i en iOS-versjon? Send meg gjerne en melding – kanskje finnes det en løsning!</p>

<h2>Kontakt</h2>

<p>
  Du kan kontakte meg via e-post på <a href="mailto:hello@eevis.codes">hello[a]eevis.codes</a> hvis du vil gi
  tilbakemelding eller har oppdaget noe morsomt (eller rart) på siden. Merk: Jeg snakker kun finsk og engelsk.
</p>

<p>
  Et annet alternativ er å sende inn feilmeldinger via
  <a
    href="https://github.com/eevajonnapanula/neule.art/issues/new?assignees=&labels=&template=bug_report.md&title=%5BBUG%5D+"
    >Github</a
  >.
</p>

<p>
  Du finner også Neule.art på
  <a href="https://instagram.com/neuleart">Instagram</a>!
</p>

<h2>Bidragsytere</h2>

<p>Disse har bidratt til Neule.art:</p>
<ul>
  <li>Skaper av nettsiden: <a href="https://eevis.codes">Eevis</a></li>
  <li>Norsk oversettelse: Team @ <a href="https://denlykkeligesau.no/">Den Lykkelige Sau</a></li>
</ul>
