---
layout: layouts/base.njk
title: 'Om siden - '
tags: 'sitemap'
language: 'no'
---

<h1>Om siden</h1>

<h2>Bakgrunn</h2>

<p>
  Jeg skulle strikke <a href="https://lopidesign.is/en/shop/adults/sweaters/riddari/">en Riddari genser</a> i gave og
  ønsket informasjon om farger og fargevalg til genseren. Det kan være vanskelig å se for seg hvordan genseren vil se ut
  ferdig, om du ikke har strikket den før ( Om du har strikket den før, kan det også være slik) Så jeg trengte en måte å
  visualisere de forskjellige valgte fargene sammen
</p>

<p>
  Fargene i fargevelgeren er garnet Lettlopi, fra Istex. Du finner fargekodene til hver farge i fargevelger. Fargene du
  ser på bildene er kun eksempler. Jeg har forsøkt å få de så lik som mulig den originale fargen, så jeg kan ikke ta
  ansvar for den ferdige genseren 😄
</p>

<h2>Neule.art-app</h2>

<p>
  Neule.art mobil applikasjon utvider nettsiden, aktitverer fargevalg for strikkeoppskrifter på mobiltelefoner. Den
  første versjonen av appen inkluderer et fargevalg grensesnitt og en måte å dele disse fargene på med en link-. Jeg
  utvikler appen og tilfører nye funksjoner. Om du har noen ideer, vær så snill og kontakt meg! La oss se om jeg kan
  legge dem til i appen. Den er tilgjengelig på Engelsk og Finsk.
</p>

<p>
  Applikasjonen er for tiden kun tilgjengelig for Android. Grunnen for dette er at publisering av IOS applikasjoner er
  dyrt. Jeg får ikke betalt fra denne siden eller fra appene, og jeg ønsker ikke å betale hunde dollar i året for å
  drifte en applikasjon.
</p>

<p>
  Om du likevell er interessert i å få applikasjonen for IOS, send meg en melding og vi kan se om det finnes mulige
  alternativer tilgjengelig
</p>

<h2>Kontakt meg</h2>

<p>
  Du kan kontakte meg via email (<a href="mailto:hello@eevis.codes">hello[a]eevis.codes</a>) om du ønsker å gi meg
  tilbakemeldig, eller om du ser noen morsomme ting på siden. (Note, that I speak only Finnish and English.)
</p>

<p>
  Et annet alternativ er å sende inn feilmelding i
  <a
    href="https://github.com/eevajonnapanula/neule.art/issues/new?assignees=&labels=&template=bug_report.md&title=%5BBUG%5D+"
    >Github</a
  >.
</p>

<p>
  Du finner også Neule.art på
  <a href="https://instagram.com/neuleart">Instagram</a>.
</p>
