---
layout: layouts/base.njk
tags: 'sitemap'
title: Tietoja sivusta -
---

<h1>Tietoja sivusta</h1>

<h2>Taustaa</h2>

<p>
  Tämä pieni projekti sai alkunsa, kun olin tekemässä
  <a href="https://lopidesign.is/en/shop/adults/sweaters/riddari/">Riddari-neuletta</a>, ja tarvitsin neuleen saajalta
  tiedon halutuista väreistä. Värien yhteensopivuutta on hieman hankala hahmottaa pelkkinä lankakerinä ja värikarttoina,
  joten halusin tehdä jonkinlaisen visuaalisen tavan testata eri yhdistelmiä.
</p>

<p>
  Valikossa olevat värit ovat Istexin sivuilla näkyvät Léttlopin värikartan värit, ja niissä näkyvät myös lankojen
  värikoodit. Kuvassa näkyvät värit ovat kuitenkin vain suuntaa-antavia, joten en ota vastuuta jos tämän perusteella
  valittu villapaita näyttääkin erilaiselle 😊
</p>

<h2>Ota yhteyttä</h2>

<p>
  Voit ottaa yhteyttä minuun sähköpostitse: <a href="mailto:hello@eevis.codes">hello[a]eevis.codes</a> jos haluat antaa
  palautetta, tai huomaat sivulla jotain hassua.
</p>

<p>
  Voit tehdä myös bugiraportin
  <a
    href="https://github.com/eevajonnapanula/neule.art/issues/new?assignees=&labels=&template=bug_report.md&title=%5BBUG%5D+"
    >Githubiin</a
  >.
</p>

<h2>Muutokset sivulla</h2>

{%- for update in updates.fi %} {% update update %} {% endfor -%}
