---
layout: layouts/base.njk
tags: 'sitemap'
title: Tietoja sivusta -
---

<h1>Tietoja sivusta</h1>

<h2>Taustaa</h2>

<p>
  Tämä pieni projekti sai alkunsa, kun olin tekemässä
  <a href="https://lopidesign.is/en/shop/adults/sweaters/riddari/">Riddari-neuletta</a>, ja tarvitsin neuleen saajalta
  tiedon halutuista väreistä. Värien yhteensopivuutta on hieman hankala hahmottaa pelkkinä lankakerinä ja värikarttoina,
  joten halusin tehdä jonkinlaisen visuaalisen tavan testata eri yhdistelmiä.
</p>

<p>
  Valikossa olevat värit ovat Istexin sivuilla näkyvät Léttlopin värikartan värit, ja niissä näkyvät myös lankojen
  värikoodit. Kuvassa näkyvät värit ovat kuitenkin vain suuntaa-antavia, joten en ota vastuuta jos tämän perusteella
  valittu villapaita näyttääkin erilaiselle 😊
</p>

<h2>Neule.art-sovellus</h2>

<p>
  Neule.art-sovellus on tukee sivustoa, tarjoten mahdollisuuden neuleiden värivalintoihin puhelimella. Sovelluksen
  ensimmäinen versio sisältää värien valinnan, sekä näiden värien linkkinä jakamisen. Kehitän sovellusta eteenpäin,
  lisäten uusia ominaisuuksia - jos sinulla on ideoita uusista ominaisuuksista, laita viestiä, ja katsotaan jos ne
  saataisiin sovellukseen mukaan!
</p>

<p>
  Sovellus on tällä hetkellä saatavilla vain Android-puhelimille. Syy tähän on se, että iOS-sovellusten julkaiseminen on
  kallista, ja koska en tästä tuloa saa, en ole toistaiseksi valmis maksamaan satasta vuodessa yhden sovelluksen takia.
</p>

<p>
  Jos olet kiinnostunut iOS-sovelluksesta, laita viestiä joko sähköpostilla tai Instagramissa, niin katsotaan, jos
  saisin jonkinlaisen ratkaisun aikaan.
</p>

<h2>Ota yhteyttä</h2>

<p>
  Voit ottaa yhteyttä minuun sähköpostitse: <a href="mailto:hello@eevis.codes">hello[a]eevis.codes</a> jos haluat antaa
  palautetta, tai huomaat sivulla jotain hassua.
</p>

<p>
  Voit tehdä myös bugiraportin
  <a
    href="https://github.com/eevajonnapanula/neule.art/issues/new?assignees=&labels=&template=bug_report.md&title=%5BBUG%5D+"
    >Githubiin</a
  >.
</p>

<p>
  Neule.art löytyy nyt myös
  <a href="https://instagram.com/neuleart">Instagramista</a>.
</p>

<h2>Tekijät</h2>

<p>Nämä henkilöt ovat tehneet Neule.arta:</p>
<ul>
  <li>Sivuston tekijä: <a href="https://eevis.codes">Eevis</a></li>
  <li>Norjankieliset käännökset:</li>
</ul>

<h2>Muutokset Neule.artissa</h2>
<a href="/fi/feed.xml">RSS</a>

{%- for update in updates.fi %} {% update update %} {% endfor -%}
