---
layout: layouts/base.njk
tags: 'sitemap'
title: Tietoja sivusta
---

<h1>Tietoja sivusta</h1>

<h2>Taustaa</h2>

<p>
  Tämä pieni projekti sai alkunsa, kun olin tekemässä
  <a href="https://lopidesign.is/en/shop/adults/sweaters/riddari/">Riddari-neuletta</a>, ja tarvitsin neuleen saajalta
  tiedon halutuista väreistä. Värien yhteensopivuutta on hieman hankala hahmottaa pelkkinä lankakerinä ja värikarttoina,
  joten halusin tehdä jonkinlaisen visuaalisen tavan testata eri yhdistelmiä.
</p>

<p>
  Valikossa olevat värit ovat Istexin sivuilla näkyvät Léttlopin värikartan värit, ja niissä näkyvät myös lankojen
  värikoodit. Kuvassa näkyvät värit ovat kuitenkin vain suuntaa-antavia, joten en ota vastuuta jos tämän perusteella
  valittu villapaita näyttääkin erilaiselle 😊
</p>

<h2>Ota yhteyttä</h2>

<p>
  Voit ottaa yhteyttä minuun sähköpostitse: <a href="mailto:hello@eevis.codes">hello[a]eevis.codes</a> jos haluat antaa
  palautetta, tai huomaat sivulla jotain hassua.
</p>

<p>
  Voit tehdä myös bugiraportin
  <a
    href="https://github.com/eevajonnapanula/neule.art/issues/new?assignees=&labels=&template=bug_report.md&title=%5BBUG%5D+"
    >Githubiin</a
  >.
</p>

<h2>Muutokset sivulla</h2>

<h3><time datetime="2022-06-08">8.6.2022</time> - Yhteydenottolomakkeen poisto</h3>

<ul>
  <li>Yhteydenottolomake on nyt poistettu, koska se aiheutti enemmän ongelmia kuin oli hyödyllinen.</li>
  <li>Lisäksi korjattu bugi sivujen linkitykseen liittyen.</li>
</ul>

<h3><time datetime="2022-05-28">28.5.2022</time> - Kaikkien värien saatavuus valituissa kaupoissa</h3>

<ul>
  <li>Etusivulla on linkki, jonka kautta voi tarkistaa kaikkien värien saatavuuden valituissa kaupoissa</li>
  <li>Edelleen: Jos haluat jonkin kaupan mukaan listalle, laita viestiä.</li>
</ul>

<h3><time datetime="2022-05-24">24.5.2022</time> - Värien saatavuus valituissa kaupoissa</h3>

<ul>
  <li>Etusivulla on linkki, jonka kautta voi tarkistaa valittujen värien saatavuuden valituissa kaupoissa</li>
  <li>Jos haluat jonkin kaupan mukaan listalle, laita viestiä.</li>
</ul>

<h3><time datetime="2022-05-16">16.5.2022</time> - Värien aakkostus</h3>

<ul>
  <li>Värit näytetään nyt valikoissa aakkosjärjestyksessä</li>
</ul>

<h3><time datetime="2022-05-14">14.5.2022</time> - Palautelomake ja satunnaisten värien generointi</h3>

<ul>
  <li>Sivulle on lisätty palautelomake.</li>
  <li>Lisätty linkki, jonka avulla voi generoida satunnaiset värit</li>
  <li>Muita pienempiä ja käyttäjälle näkymättömiä muutoksia, kuten sivukartan lisääminen.</li>
</ul>

<h3><time datetime="2022-05-13">13.5.2022</time> - Värilista ja hieman parannuksia</h3>
<ul>
  <li>
    Sivulle on lisätty värilista värivalitsimen alle, jotta värejä ei tarvitsisi arvata lankojen värien nimien
    perusteella.
  </li>
  <li>Lisäksi muita pieniä parannuksia esimerkiksi tyyleihin.</li>
</ul>

<h3><time datetime="2022-05-12">12.5.2022</time> - Sivu on julkaistu 🎉</h3>
<ul>
  <li>Sivu on julkaistu!</li>
</ul>
