---
layout: layouts/base.njk
permalink:
  build: '/fi/'
  colors: '/fi/colors/'
---

{% set metaTitle = metadata[locale].metaTitle %} {% set metaDescription = metadata[locale].metaDescription %} {% set
metaImage = metadata[locale].metaImage %}

<section>
  <h2>Valitse värit</h2>
  <p>Huom! Värit ovat suuntaa-antavia, ja voivat vaihdella näytön värisävyjen mukaan.</p>
  <a href="https://istex.is/en/vorur/lettlopi/">Linkki Léttlopin värikarttaan.</a>
  <div class="color-picker-wrapper switcher">
    <div>
      {% if eleventy.serverless.query %} {% shirtWithObject eleventy.serverless.query %} {% else %} {% shirt '000000',
      '037C79', 'DC7633', 'AED6F1' %} {% endif %}
    </div>
    <div>
      <form method="get" action="/fi/colors/" class="colors-form">
        {% colorSelect "main", "main-color", "Pääväri", eleventy.serverless.query.main, '000000' %} {% colorSelect
        "secondary", "secondary-color", "Toinen väri", eleventy.serverless.query.secondary, '037C79' %} {% colorSelect
        "highlight1", "highlight1-color", "Kolmas väri", eleventy.serverless.query.highlight1, 'DC7633' %} {%
        colorSelect "highlight2", "highlight2-color", "Neljäs väri", eleventy.serverless.query.highlight2, 'AED6F1' %}

        <button type="submit">Katso tulos</button>
      </form>
    </div>
  </div>

  <p><a href="/fi/about">Lue lisää tästä sivusta</a></p>
</section>
