---
layout: layouts/base.njk
siteTitle: 'Värivalitsin Riddarille'
permalink:
  build: '/fi/'
  colors: '/fi/colors/'
---

{% set metaTitle = metadata[locale].metaTitle %} {% set metaDescription = metadata[locale].metaDescription %} {% set
metaImage = metadata[locale].metaImage %}

<section>
  <h2>Valitse värit</h2>
  <a href="https://istex.is/en/vorur/lettlopi/">Linkki Lettlopin värikarttaan.</a>
  <div class="color-picker-wrapper">
    <div>
      {% if eleventy.serverless.query %} {% shirtWithObject eleventy.serverless.query %} {% else %} {% shirt 'black',
      'blue', 'orange', 'white' %} {% endif %}
    </div>
    <div>
      <form method="get" action="/fi/colors/" class="colors-form">
        {% colorSelect "main", "main-color", "Pääväri", eleventy.serverless.query.main, 'black' %} {% colorSelect
        "secondary", "secondary-color", "Toinen väri", eleventy.serverless.query.secondary, '#037C79' %} {% colorSelect
        "highlight1", "highlight1-color", "Kolmas väri", eleventy.serverless.query.highlight1, '#DC7633' %} {%
        colorSelect "highlight2", "highlight2-color", "Neljäs väri", eleventy.serverless.query.highlight2, '#AED6F1' %}

        <button type="submit">Katso tulos</button>
      </form>
    </div>
  </div>
</section>
