---
layout: layouts/base.njk
changeFreq: daily
tags: 'sitemap'
permalink:
  build: '/fi/'
---

<h1>Neule.art</h1>

<h2>Patterns</h2>

<ul>
  <li><a href="/fi/riddari/">Riddari (yksinkertainen, 4 väriä)</a></li>
  <li><a href="#">Riddari (useita värejä)</a></li>
</ul>

<h2>Langan värien saatavuus</h2>

<ul>
  <li><a href="/fi/lettlopi/store-availability">Istex Léttlopi</a></li>
</ul>
