---
layout: layouts/base.njk
tags: 'sitemap'
permalink:
  build: '/fi/privacy-policy/'
---

<h1>Neule.art-sovelluksen tietosuoja</h1>

<h2>Yhteystiedot</h2>
<p>Eeva-Jonna Panula</p>
<p>hello[at]eevis.codes</p>

<h2>Tietojen käsittelyn tarkoitus ja sisältö</h2>
Sovellus tallentaa käyttäjän käyttöjärjestelmän version, sekä lokitietoja sovelluksen teknisestä toiminnasta sovelluksen
toiminnan parantamiseksi. Tiedot kerätään sovelluksista ohjelmallisesti.

<h2>Tietojen käsittely ja suojaus</h2>
Tiedot tallennetaan Googlen pilvipalveluun, jonne ei ole muilla pääsyä, kuin sovelluksen tekijällä (rekisterinpitäjä).
Tiedot on suojattu kaksivaiheisella tunnistautumisella.

<h2>Tietojen siirto EU:n tai ETA:n ulkopuolelle</h2>

Firebase Crashlyticsin keräämät kaatumislokit ja diagnostiikkatiedot saatetaan tallentaa palvelimille, jotka sijaitsevat
Yhdysvalloissa. Näitä tietoja käsittelee Google LLC, joka noudattaa GDPR-vaatimuksia käyttämällä EU:n
mallisopimuslausekkeita (SCC) ja muita asianmukaisia suojatoimia tietojen suojaamiseksi. Lisätietoja saat Googlen
<a href="https://firebase.google.com/support/privacy">Firebase-tietosuojasta ja turvallisuudesta</a>.

<h2>Tietojen säilyttämisaika</h2>
Tietoja säilytetään niin kauan kuin niitä tarvitaan siihen tarkoitukseen, jota varten tiedot on kerätty, mutta
korkeintaan kahden vuoden ajan.

<h2>Kysymykset</h2>
Halutessasi voit ottaa yhteyttä sovelluksen kehittäjään: hello[at]eevis.codes
