---
layout: layouts/base.njk
tags: 'sitemap'
title: 'Lankojen saatavuus: Lettlopi -'
permalink:
  build: '/fi/yarns/lettlopi/store-availability/'
---

{% set metaTitle = metadata[locale].metaTitle %} {% set metaDescription = metadata[locale].metaDescription %} {% set
metaImage = metadata[locale].metaImage %} {% allColorAvailability locale %}

<div>Data fetched: {% time stock.updated %}</div></div>