---
layout: layouts/base.njk
changeFreq: daily
tags: 'sitemap'
title: 'Värivalitsin Riddarille (moniväri) -'
permalink:
  build: '/fi/patterns/riddari-multiple/'
  colors: '/fi/patterns/riddari-multiple/colors/'
breadcrumbs:
  - title: 'Etusivu'
    url: '/fi/'
  - title: 'Riddari (monivärinen)'
    url: '/fi/patterns/riddari-multiple/'
    serverless: true
    current: true
---

{% set metaTitle = metadata[locale].metaTitle %} {% set metaDescription = metadata[locale].metaDescription %} {% set
metaImage = metadata[locale].metaImage %} {% breadcrumbs breadcrumbs, locale, eleventy.serverless.query %}
<section>
  <h1>Valitse värit Riddariin</h1>
  <p>{% riddariInfo locale %}</p>

  <div class="color-picker-wrapper switcher">
    <div>
      {% if eleventy.serverless.query %}
        {% set main %}{% adjustColor eleventy.serverless.query.main %}{% endset %}
        {% set sleevePrimary %}{% adjustColor eleventy.serverless.query.sleevePrimary %}{% endset %} 
        {% set sleeveSecondary %}{% adjustColor eleventy.serverless.query.sleeveSecondary %}{% endset %} 
        {% set yoke1 %}{% adjustColor eleventy.serverless.query.yoke1 %}{% endset %} 
        {% set yoke2 %}{% adjustColor eleventy.serverless.query.yoke2 %}{% endset %} 
        {% set yoke3 %}{% adjustColor eleventy.serverless.query.yoke3 %}{% endset %} 
        {% set yoke4 %}{% adjustColor eleventy.serverless.query.yoke4 %}{% endset %} 
        {% set yoke5 %}{% adjustColor eleventy.serverless.query.yoke5 %}{% endset %} 
        {% set yoke6 %}{% adjustColor eleventy.serverless.query.yoke6 %}{% endset %} 
        {% set yoke7 %}{% adjustColor eleventy.serverless.query.yoke7 %}{% endset %} 
        {% set yoke8 %}{% adjustColor eleventy.serverless.query.yoke8 %}{% endset %} 
        {% set yoke9 %}{% adjustColor eleventy.serverless.query.yoke9 %}{% endset %} 
        {% set yoke10 %}{% adjustColor eleventy.serverless.query.yoke10 %}{% endset %} 
        {% set yoke11 %}{% adjustColor eleventy.serverless.query.yoke11 %}{% endset %} 
        {% set yoke12 %}{% adjustColor eleventy.serverless.query.yoke12 %}{% endset %}
      {% else %} {% set main = '000000' %} {% set sleevePrimary = '037C79' %} 
      {% set sleeveSecondary = 'DC7633' %} {% set yoke1 = 'AED6F1' %} {% set yoke2 = "961060" %} {% set yoke3 = "604978" %} {%
      set yoke4 = "F1C40F" %} {% set yoke5 = "9DDB13" %} {% set yoke6 = "943126" %} {% set yoke7 = "2E6592" %} {% set
      yoke8 = "0E6655" %} {% set yoke9 = "EE1313" %} {% set yoke10 = "873600" %} {% set yoke11 = "094D6D" %} {% set
      yoke11 = "094D6D" %} {% set yoke12 = "4A235A" %} {% endif %} {% riddariMultiple main, sleevePrimary, sleeveSecondary, yoke1, yoke2, yoke3,
      yoke4, yoke5, yoke6, yoke7, yoke8, yoke9, yoke10, yoke11, yoke12 %} {% visuallyHiddenText
      translations[locale].visuallyHiddenText, eleventy.serverless.query, locale %}
    </div>
    <div>
      <div class="cta-link">
        <a
          href="/fi/yarns/lettlopi/"
          >Kaikki värit
        </a>
      </div>
      <form method="get" action="/fi/patterns/riddari-multiple/colors/" class="colors-form">
        <div id="multiple-colors-form">
          {%- for color in colorOptions.multipleColors %} {% colorSelect color.labelKey, color.identifier,
          translations[locale].multipleColorTexts[color.labelKey], eleventy.serverless.query[color.queryKey],
          color.defaultColor %} {% endfor -%}
        </div>
        <button type="submit">Katso tulos</button>
      </form>

      {% randomColorsLinkRiddariMultiple locale %}

    </div>
  </div>
</section>
 <section> <h2>Värien saatavuus</h2>
  <div class="color-picker-wrapper">
    {% colorAvailability locale, main, sleevePrimary, sleeveSecondary, yoke1, yoke2, yoke3,
      yoke4, yoke5, yoke6, yoke7, yoke8, yoke9, yoke10, yoke11, yoke12 %}</div>
    
  <div>
    <div>Viimeisin päivitys: {% time stock.updated %}</div>
    {% set comma = joiner() %}
    <p>Tällä hetkellä tiedot haetaan seuraavista kaupoista: {% for store in yarnStores.stores -%}{{comma()}} {{yarnStores[store].name}} {%- endfor %}</p>
    <p>Jos haluat jonkin muun kaupan mukaan, laita viestiä. Yhteystiedot löytyvät <a href="/fi/about/">Tietoja-sivulta.</a></p>
  </section>
<section>
  <h2>Linkkejä</h2>
  <ul>
    <li><a href="https://istex.is/en/vorur/lettlopi/">Léttlopin värikartta</a></li>
    <li><a href="https://lopidesign.is/en/shop/adults/sweaters/riddari/">Riddarin ohje</a></li>
  </ul>
</section>
