<section>
  <h2>{{ translations[locale].colors }}</h2>

  <ul class="color-list">
    {%- for color in yarnColors -%}
    <li class="color-list-item">
      <div style="background-color: #{{ color.colorValue }};" class="color-swatch"></div>
      <div>{{ color.value }}</div>
    </li>
    {%- endfor -%}
  </ul>
</section>
