<form name="contact-{{ locale }}" action="/{{ locale }}/success" method="POST" data-netlify="true">
  <fieldset>
    <label for="contact-form-name">{{ translations[locale].contactForm.name }}</label>
    <input id="contact-form-name" name=">{{ translations[locale].contactForm.name }}" autocomplete="name" required />
  </fieldset>
  <fieldset>
    <label for="contact-form-email">{{ translations[locale].contactForm.email }}</label>
    <input
      id="contact-form-email"
      type="email"
      name=">{{ translations[locale].contactForm.email }}"
      autocomplete="email"
      required
    />
  </fieldset>
  <fieldset>
    <label for="contact-form-text">{{ translations[locale].contactForm.message }}</label>
    <textarea id="contact-form-text" rows="4" required></textarea>
  </fieldset>
  <button type="submit">Submit</button>
</form>
