<header>
  <h1>{{ siteTitle }}</h1>
  <nav>
    <ul>
      <li><a href="/en/" {% if locale === 'en' %} aria-current="page" {%endif%}>EN</a></li>
      <li><a href="/fi/" {% if locale === 'fi' %} aria-current="page" {%endif%}>FI</a></li>
    </ul>
  </nav>
</header>
