---
layout: layouts/base.njk
changeFreq: daily
tags: 'sitemap'
title: 'Värivalitsin Riddarille -'
permalink:
  build: '/fi/patterns/riddari/'
  colors: '/fi/patterns/riddari/colors/'
breadcrumbs:
  - title: 'Etusivu'
    url: '/fi/'
  - title: 'Riddari (yksinkertainen, neljä väriä)'
    url: '/fi/patterns/riddari/'
    serverless: true
    current: true
---

{% set metaTitle = metadata[locale].metaTitle %} {% set metaDescription = metadata[locale].metaDescription %} {% set
metaImage = metadata[locale].metaImage %} {% breadcrumbs breadcrumbs, locale, eleventy.serverless.query %}
<section>
  <h1>Valitse värit Riddariin</h1>

  <div class="color-picker-wrapper switcher">
    <div>
      {% if eleventy.serverless.query %} 
        {% set colorA %}{% adjustColor eleventy.serverless.query.a %}{% endset %}
        {% set colorB %}{% adjustColor eleventy.serverless.query.b %}{% endset %} 
        {% set colorC %}{% adjustColor eleventy.serverless.query.c %}{% endset %} 
        {% set colorD %}{% adjustColor eleventy.serverless.query.d %}{% endset %} 
      {% else %} {% set colorA = '000000' %} {% set colorB = '037C79' %} {% set colorC =
      'DC7633' %} {% set colorD = 'AED6F1' %} {% endif %} {% riddari colorA, colorB, colorC, colorD %} {%
      visuallyHiddenText translations[locale].visuallyHiddenText, eleventy.serverless.query, locale %}
    </div>
    <div>
      <div class="cta-link">
        <a
          href="/fi/yarns/lettlopi/"
          >Kaikki värit
        </a>
      </div>
      <form method="get" action="/fi/patterns/riddari/colors/" class="colors-form">
        <div id="four-colors-form">
          {%- for color in colorOptions.fourColors %} {% colorSelect color.labelKey, color.identifier,
          translations[locale].fourColorTexts[color.labelKey], eleventy.serverless.query[color.queryKey],
          color.defaultColor %} {% endfor -%}
        </div>
        <button type="submit">Katso tulos</button>
      </form>

      {% randomColorsLink locale %}

    </div>
  </div>
</section>
  <section class="color-availability"> <h2>Värien saatavuus</h2>
    <div class="color-picker-wrapper">
      {% colorAvailability locale, colorA, colorB, colorC, colorD %}</div>
      
    <div>
      <div>Viimeisin päivitys: {% time stock.updated %}</div>
      {% set comma = joiner() %}
      <p>Tällä hetkellä tiedot haetaan seuraavista kaupoista: {% for store in yarnStores.stores -%}{{comma()}} {{yarnStores[store].name}} {%- endfor %}</p>
      <p>Jos haluat jonkin muun kaupan mukaan, laita viestiä. Yhteystiedot löytyvät <a href="/fi/about/">Tietoja-sivulta.</a></p></section>
<section>
  <h2>Linkkejä</h2>
  <ul>
    <li><a href="https://istex.is/en/vorur/lettlopi/">Léttlopin värikartta</a></li>
    <li><a href="https://lopidesign.is/en/shop/adults/sweaters/riddari/">Riddarin ohje</a></li>
  </ul>
</section>
