---
layout: layouts/base.njk
tags: 'sitemap'
title: 'Yarn Color Availability -'
language: 'en'
permalink:
  build: '/en/yarns/lettlopi/'
breadcrumbs:
  - title: Home
    url: '/en/'
  - title: 'Léttlopi Colors'
    url: '/en/yarns/lettlopi'
    current: true
---

{% set metaTitle = metadata[locale].metaTitle %} {% set metaDescription = metadata[locale].metaDescription %} {% set
metaImage = metadata[locale].metaImage %} {% breadcrumbs breadcrumbs, locale %} {% allColorAvailability locale %}
