<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ translations[locale].header.siteTitle }}</title>

    <meta name="title" content="{{ metadata[locale].metaTitle }}" />
    <meta name="description" content="{{ metadata[locale].metaDescription }}" />
    <meta name="author" content="Eevis Panula" />

    <!-- Open Graph / Facebook -->

    <meta property="og:title" content="{{ metadata[locale].metaTitle }}" />
    <meta property="og:description" content="{{ metadata[locale].metaDescription }}" />

    <meta property="og:url" content="{{ metadata.baseURL }}{{ page.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ metadata[locale].metaTitle }}" />

    <meta property="og:image" content="{{ metadata.baseURL }}{{ metadata[locale].imagePath }}" />
    <meta property="og:image:alt" content="{{ translations[locale].altText }}" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@EevisPanula" />
    <meta name="twitter:creator" content="@EevisPanula" />
    <meta name="twitter:url" content="{{ metadata.baseURL }}{{ page.url }}" />
    <meta name="twitter:title" content="{{ metadata[locale].metaTitle }}" />
    <meta name="twitter:description" content="{{ metadata[locale].metaDescription }}" />
    <meta name="twitter:image" content="{{ metadata.baseURL }}{{ metadata[locale].imagePath }}" />
    <meta name="twitter:image:alt" content="{{ metadata[locale].altText }}" />

    <link
      rel="icon"
      type="image/png"
      href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/google/313/yarn_1f9f6.png"
    />
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}" />
  </head>
  <body class="center">
    {% include "partials/header.njk" %}
    <main>
      {{ content | safe }}
    </main>
    {% include "partials/footer.njk" %}
  </body>
</html>
