<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ siteTitle }}</title>
    <meta name="description" content="{{ metaDescription }}" />

    <link rel="stylesheet" href="{{ '/css/index.css' | url }}" />
  </head>
  <body>
    {% include "partials/header.njk" %}
    <main>
      {{ content | safe }}
    </main>
    {% include "partials/footer.njk" %}
  </body>
</html>
